<html>
<head>
	<title>Blog Review</title>
</head>
<body>
	<h1>Index/landing page</h1>
	<form action="/sessions?_method=DELETE" method="POST">
		
		<input type="submit" value="Log out">
	</form>
</body>
</html>